<div class="menu-admin">
    <a class="adminbar" href="/sort">Sort</a>
    <a class="adminbar" href="/gender">Gender</a>
    <a class="adminbar" href="/show">Show</a>
</div>

<div class="bodyinfo">
    <table>
        {{#each kobiety}}
        <tr>
            <td>ID: {{id}} </td>
            <td>Płeć: {{plec}} </td>
        </tr>
        {{/each}}
    </table>
    <table>
        {{#each reszta}}
        <tr>
            <td>ID: {{id}} </td>
            <td>Płeć: {{plec}} </td>
        </tr>
        {{/each}}
    </table>
</div>