<div class="info">
    <h1>Login page</h1>
    <div class="formularz">
        <form method="POST" action="/logging">
            <label for="login">Login:</label>
            <input type="text" class="input" name="login" id="login">
            <br />
            <br />
            <label for="pass">Password:</label>
            <input type="password" class="input" name="pass" id="password">
            <br />
            <br />
            <button type="submit" class="bt-register">Submit</button>
        </form>
    </div>
</div>