<div class="menu-admin">
    <a class="adminbar" href="/sort">Sort</a>
    <a class="adminbar" href="/gender">Gender</a>
    <a class="adminbar" href="/show">Show</a>
</div>

<div class="bodyinfo">
        <form onchange="this.submit()" class="sort">
            <label><input type="radio" name="sorting" value="growing">rosnąco</label>
            <label><input type="radio" name="sorting" value="decreasing">malejąco</label>
        </form>
        <table>
            {{#each lista}}
            <tr>
                <td>ID: {{id}} </td>
                <td>User: {{login}} - {{pass}} </td>
                <td>Wiek: {{wiek}} </td>
            </tr>
            {{/each}}
        </table>
</div>
